:root{
    --black: #0D0D0D;
    --white: #F2F2F2;
    --green-dark: #27F27F;
    --green-light: #27F27F;
    --purple: #8979F2;
}

/*/ styling of the header section /*/

#aboutme{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
    padding-top: 10vh;
}
#aboutme img{
    height: 80%;
    min-height: 400px;
}
#aboutme::after{
    display: block;
    content: "";
    clear: both;
    width: 100%;

}

/*/ the left section of the main page /*/
#profile{
    text-align: right;
    width: 725px;
    flex-basis: 0;
}
#profile p{
    text-align: left;
    margin-top: 20px;
}
#profile h3{
    color: var(--purple);
    font-weight: 800;
}

/*/ the right section of the header /*/

#embedded{
    flex-basis: 1;
}
#embedded h3{
    font-weight: 700;
}
#quote{
    margin-top: 20px;
    width: 400px;
    font-size: 32px;
    font-style: italic;
    text-align: justify;
    font-family: 'Roboto Slab', serif;

}

/*/ the other sections /*/

#more{
    position: relative;
    display: block;
    margin-left: 10%;
    width: 80%;
    height: fit-content;
    margin-bottom: 5vw;
    padding-top: 5em;
}

#more h2{
    text-align: center;
}

@media only screen and (max-width: 1190px) {
    #more {
      padding-top: 13em;
    }
  }



#skills{
    flex-basis: 900px;
}

