:root{
    --black: #0D0D0D;
    --white: #F2F2F2;
    --green-dark: #27F27F;
    --green-light: #27F27F;
    --purple: #8979F2;
}

/*/ styling of the header section /*/

header{
    position: relative;
    top: 10vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 90vh;
}
header img{
    height: 80%;
    min-height: 400px;
    align-self: center;
}
header::after{
    display: block;
    content: "";
    clear: both;
    width: 100%;

}

/*/ the left section of the main page /*/
#profile{
    text-align: right;
    width: 725px;
    margin-top: 10%;
    flex-basis: 0;
}
#profile p{
    text-align: left;
    margin: 10px;
    margin-top: 20px;
}
#profile h3{
    color: var(--purple);
    font-weight: 800;
}

/*/ the right section of the header /*/

#embedded{
    margin-top: 10%;
    flex-basis: 1;
}
#embedded h3{
    font-weight: 700;
}
#quote{
    margin-top: 20px;
    width: 400px;
    font-size: 32px;
    font-style: italic;
    text-align: justify;
    font-family: 'Roboto Slab', serif;

}

/*/ the other sections /*/

#more{
    display: block;
    margin-left: 10%;
    width: 80%;
}


