*{
    margin-top: 0;
}

:root{
    --main-text-color: #2b2d42;
    --main-bg-color: #edf2f4;
    --main-midtone: #8d99ae;
    --main-highlight-color: #9d4edd;
    --alternate-highlight-color: #e0aaff;
}


body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    margin: 0;
}

h1{
    font-weight: 700;
    font-size: 144px;
    
}

h2{
    font-weight: 600;
    font-size: 72px;
    color: var(--main-midtone);
}

h3{
    font-weight: 400;
    font-size: 48px;
}

p{
    font-size: 18px;
    font-weight: 500;
    line-height: 1.6;
}

.ultra-bold{
    padding: 5px;
    width: fit-content;
    font-weight: 700;
    color: var(--main-bg-color);
    background-color: var(--main-text-color);

}
ul{
    font-size: 32px;
}
li{
    margin-top: 20px;
}


/*/ styling of the top navigation bar /*/

.topbar{
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    background-color: var(--main-bg-color);
    height: 60px;
    top: 0;
    z-index: 1;

}
.topbar>ul li{
    float: left;
    width: 200px;
    padding-bottom: 5px;

}

/*/ extended lists /*/
.topbar ul li ul{
    position: absolute;
    width: 150px;
    display: none;



}
.topbar ul li:hover ul{
    display: block;
    background-color: var(--main-bg-color);
    padding-bottom: 3px;

}
a{
    color: var(--main-highlight-color);
    font-weight: 600;
    text-decoration: none;
    padding: 5px;

}
a:hover{
    background-color: var(--alternate-highlight-color);
    color: var(--main-text-color);
    text-decoration: none;
    padding: 5px;
}

html{
    scroll-behavior: smooth;
}

/*/ styling for cards /*/

.cards{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.card > h3{
    font-weight: 600;
    font-size: 24px;
    padding: 28px;
    padding-left: 0px;

}

.card p{
    text-align: justify;
}

.card{
    padding: 25px;
    border: 2px solid black;
    flex-basis: 330px;
    margin-top: 25px;
    margin-right: 50px;
    margin-bottom: 10;
    margin-left: 0px;
    border-radius: 20px;
    box-shadow: -4px 4px 0px var(--main-midtone);
    align-items: stretch;
}

