
:root{
    --black: #0D0D0D;
    --white: #F2F2F2;
    --green-dark: #27F27F;
    --green-light: #27F27F;
    --purple: #8979F2;
}

/*/ Main styling text/*/
html{
    scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: hidden;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: var(--white);
    color: var(--black);
    margin: 0;
}

h1{
    font-weight: 700;
    font-size: 144px;
    
}

h2{
    font-weight: 600;
    font-size: 72px;
    color: var(--purple);
}

h3{
    font-weight: 400;
    font-size: 48px;
}

p{
    font-size: 21px;
    font-weight: 500;
    line-height: 1.6;
}

.ultra-bold{
    padding: 5px;
    width: fit-content;
    font-weight: 700;
    color: var(--green-light);
    background-color: var(--black);

}
a{
    color: var(--purple);
    font-weight: 600;
    text-decoration: none;
    padding: 5px;

}
a:hover{
    background-color: var(--purple);
    color: var(--white);
    text-decoration: none;
    padding: 5px;
}


li{
    margin-top: 14px;
    font-size: 32px;
}

.green{
    color: var(--green-light);
}

/*/ styling of top navigation bar /*/

.topbar{
    display: block;
    position: fixed;
    width: 100%;
    background-color: var(--black);
    height: 60px;
    z-index: 1;

}
.topbar a{
    color: var(--green-light);
    font-weight: 400;
    font-size: 30px;
}
.topbar ul{
    margin-left: 5em;
}
.topbar ul li{

    float: left;
    width: 200px;
}

/*/ extended lists /*/
.topbar ul li ul{
    width: 200px;
    display: none;
}
.topbar ul li:hover ul{
   
    display: block;
    float: left;

    background-color: var(--black);
    z-index: -1;

    margin: 0;
}
.topbar ul li:hover ul li{
   
    padding-top: 8px;
    padding-bottom: 8px;
}


.logo {
    width: 45px;
    float: left;
    padding: 7px;
}

/*/ styling for cards /*/

.cards{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card > h3{
    font-weight: 600;
    font-size: 24px;
    padding: 28px;
    padding-left: 0px;

}

.card p{
    text-align: justify;
}

.card{
    padding: 25px;
    border: 2px solid black;
    flex-basis: 400px;
    margin-top: 25px;
    margin-right: 50px;
    margin-bottom: 10;
    margin-left: 0px;
    border-radius: 20px;
    box-shadow: -4px 4px 0px var(--purple);
    align-items: stretch;
}

label{
    display: inline-block;
    width: 110px;
    font-size: 26px;
    font-weight: 700;
}


.fake-slider {
    position: relative;
    margin-top: 4em;
    margin-left: 4em;
    -webkit-appearance: none;
    appearance: none;
    width: 80%;
    height: 12px;
    background: var(--green-light);
    outline: none;
    opacity: 0.7; 
    -webkit-transition: .2s; 
    transition: opacity .2s;
    border-radius: 5px;
  }
  
  .fake-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px; 
    height: 25px; 
    background: var(--purple);
    cursor: pointer;
    border-radius: 15px;
  }


/*/ style for scroll bar /*/

::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--white); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--purple); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--black); 
  }


 


footer{

    padding: 2vw;
    background-color: var(--black);
    color: var(--green-light);
}
#footer-content{
    margin-left: 6vw;
}
  

